.ctn-button {
    text-align: right;
    padding-top: 0.4rem;
}

button {
    background-color:white;
    border: none;
    justify-items: right;
    font-size: 1.5rem;
}

button:hover {
    background-color: grey;
    color: white;
    border-color: black;
    cursor: pointer;
}